/* ========================
   COLORS
======================== */
$grey: #dbdcda;
$black: #1e1e1e;
$neon: #ff8000;
$white: #fefefe;
$loader-grey: #656565;

/* ========================
   FONTS
======================== */
$font-teko: var(--font-teko);
$font-russo: var(--font-russo);
$font-abel: var(--font-abel);
$font-syncopate: var(--font-syncopate);
$font-karantina: var(--font-karantina);
$font-heebo: var(--font-heebo);

/* ========================
   LAYOUT
======================== */
$header-height: 89px;
