/* ========================
   COLORS
======================== */
$grey: #DBDCDA;
$black: #1E1E1E;
$neon: #E4FF00;
$white: #FEFEFE;
$loader-grey: #656565;

/* ========================
   FONTS
======================== */
$font-teko: var(--font-teko);
$font-russo: var(--font-russo);
$font-abel: var(--font-abel);
$font-syncopate: var(--font-syncopate);